{{ form_start(formRoomNew, { 'attr' : { 'id' : 'roomNewForm' , 'method' : 'POST' }} ) }}
    <div class="form-group">
        {{ form_row( formRoomNew.number_room , {'attr' : { 'class' : 'form-control' }} ) }}
    </div>
    <div class="form-group">
        {{ form_row( formRoomNew.number_beds , {'attr' : { 'class' : 'form-control' }} ) }}
    </div>
{{ form_end(formRoomNew) }}